################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AngularProject1/FileContentIndex/35e7bd55-cb61-4818-ae31-e680559dabae.vsidx
/.vs/AngularProject1/FileContentIndex/636890a2-aea6-4030-9ab1-564a6f9fcd41.vsidx
/.vs/AngularProject1/FileContentIndex/795bba3c-c0e2-4598-bfb4-9f4ebc083e4d.vsidx
/.vs/AngularProject1/FileContentIndex/e492df50-8e53-4fcb-a8f3-1d7cb8e9de6c.vsidx
/.vs/AngularProject1/FileContentIndex/f9158fca-2109-4f20-97df-e983f83a4c04.vsidx
/.vs/AngularProject1/FileContentIndex/a65e2b3b-3c2e-465a-b08c-54a5bb780530.vsidx
/.vs/AngularProject1/FileContentIndex/b20bac57-95ab-4950-a93d-e9677855a756.vsidx
/.vs/AngularProject1/FileContentIndex/8cbc2841-f29c-4363-9bd2-b270be648c9a.vsidx
/.vs/AngularProject1/FileContentIndex/93c4f507-4c28-4abe-8915-b07690ab0da6.vsidx
/.vs/AngularProject1/FileContentIndex/bd2c547a-f906-4a0e-a55e-5be6808ac0f0.vsidx
/.vs/AngularProject1/FileContentIndex/e8de8dc2-9069-4dc8-9eb7-90ac740d7cf4.vsidx
/.vs/AngularProject1/FileContentIndex/0d871616-37b8-400b-a920-38ed85927353.vsidx
/.vs/AngularProject1/FileContentIndex/16a99f87-83b0-4fe9-85de-7ff4b5b4d2c2.vsidx
/.vs/AngularProject1/FileContentIndex/aa50fe15-209e-4d49-9d98-99069e788f7f.vsidx
